<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>웹 페이지 제목</title>
    <link rel="stylesheet" href="/yu/write.css">
    <link rel="stylesheet" href="/yu/styles.css">
    <!-- Bootstrap CSS는 더이상 사용하지 않음 -->
</head>
<body>
    <%- include('nav.ejs')%>
   
</body>
</html>