<div class="topbar">
    <div class="logo">로고</div>
    <div class="menu">
        <ul>
            <li><a href="/write">글쓰기</a></li>
            <li><a href="/list">게시판글 목록</a></li>
            <li><a href="#">메뉴3</a></li>
        </ul>
    </div>
</div>